body {
    max-width: 100vw;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


/* links */

.nav_link_color {
    color: #3d3d3d;
}

.nav_link_color:hover {
    color: black;
}

.d_flex_row {
    display: flex;
    flex-direction: row;
}

.d_flex_row_reverse {
    display: flex;
    flex-direction: row-reverse;
}

.d_flex_column {
    display: flex;
    flex-direction: column;
}

.j_content_center {
    justify-content: center;
}

.j_content_end {
    justify-content: end;
}

.j_content_start {
    justify-content: start;
}

.j_content_space_between {
    justify-content: space-between;
}

.j_content_space_around {
    justify-content: space-around;
}

.j_content_space_evently {
    justify-content: space-evenly;
}

.flex_wrap {
    flex-wrap: wrap;
}

.flex_grow_2 {
    flex-grow: 2;
}

.flex_grow_1 {
    flex-grow: 1;
}

.v_align_center {
    vertical-align: middle;
}


/* width */

.w_max_content {
    width: max-content;
}

.w_100 {
    width: 100%;
}

.w_75 {
    width: 85%;
}

.w_70 {
    width: 75%;
}

.w_50 {
    width: 50%;
}

.w_30 {
    width: 30%;
}


/* height */

.h_100 {
    height: 100%;
}

.h_7em {
    height: 7em;
}

.h_2em {
    height: 3.5em;
}


/* margin */

.m_0 {
    margin: 0;
}

.m_auto {
    margin: auto;
}

.m_auto_both {
    margin: 4rem auto 4rem auto;
}

.margin_1px {
    margin: 1px;
}

.margin_both_auto {
    margin: 0 auto 0 auto;
}

.margin_both_2 {
    margin: 0 2em 0 2em;
}

.margin_1_em {
    margin: 1em;
}

.mb_1rem {
    margin-bottom: 1rem;
}

.m_bottom_5em {
    margin-bottom: 5em;
}

.mar_top_bot {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mar_top_bot_1 {
    margin-top: 1px;
    margin-bottom: 1px;
}


/* padding */

.pad_4_path {
    padding: 1em 4em;
}

.pad_top {
    padding-top: 7%;
}

.pad_top_b_2rem {
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
}

.pad_b1em {
    padding-bottom: 1em;
}

.little_pad {
    padding: 0.25em 1.5em;
}

.padding_b {
    padding-bottom: 3px;
}

.p_tb_5 {
    padding: 5px 0 5px 0;
}

.ptb_40 {
    padding-top: 40px;
    padding-bottom: 20px;
}

.p_40px {
    padding: 40px;
}

.ptb_70 {
    padding-top: 5em;
    padding-bottom: 20px;
}

.padding_tb_15_em {
    padding-top: 10em;
    padding-bottom: 15em;
}

.p_1_px {
    padding: 1px 40px 1px 40px;
}

.p_lr_1 {
    padding: 0 3.5em 0 3.5em;
}

.pad_both_7 {
    padding: 0 7px 0 7px;
}

.p_l_2 {
    padding-left: 2em;
}

.p_l_2r {
    padding-left: 2.8em;
}

.p_l_0_5 {
    padding-left: .5em;
}

.p_l_0_3 {
    padding-left: .3em;
}

.padding_1px {
    padding: 1px;
}

.padding_both_2em {
    padding: 0 2em 0 2em;
}


/* font */

.font_1 {
    font-size: 14px;
}

.small_font {
    font-size: 0.6em;
}

.c_pointer {
    cursor: pointer;
}

.open_sans {
    font-family: "Open Sans", sans-serif;
}

.f_oswald {
    font-family: "Oswald", sans-serif;
}

.f_source_sans {
    font-family: 'Source Sans 3', sans-serif;
}

.f_family_sans {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
}

.f_size_32 {
    font-size: 1.4em;
}

.f_size_15 {
    font-size: .9em;
}

.f_size_42 {
    font-size: 3.8em;
}

.f_weight_400 {
    font-weight: 400;
    font-size: 1.5em;
}

.f_weight_bold {
    font-weight: 600;
}

.p_both_px {
    padding: 0.1em 4em 0.1em 3em;
}

.upper_case {
    text-transform: uppercase;
}

.lower_case {
    text-transform: lowercase;
}

.none_text_decor {
    text-decoration: none;
}

.t_left {
    text-align: left;
}

.name_dep {
    font-size: 4em;
}

.t_justify {
    text-align: justify;
}

.v_align_start {
    vertical-align: top;
}

.underline_txt {
    text-decoration: underline;
}


/* backgroung */

.bg_grey_custom {
    background-color: #f3f3f3;
}


/* ul */

.none_decor_ul {
    list-style: none;
    padding: 0 16.5em 0 16.5em;
}

.horizontal_line {
    border-bottom: 2px solid gray;
}


/* SPINER */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    padding-top: 30%;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 67px;
    height: 67px;
    margin: 8px;
    border: 8px solid #191919;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #a1a1a1 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* BORDER */

.b_radius_10 {
    border-radius: 10px;
}

.nav_link_color {
    color: #3d3d3d;
}

.nav_link_color:hover {
    color: black;
}

.check_element {
    height: 22px;
    width: 22px;
}

.border_gray {
    border: 2px solid #e0e0e0;
}