body {
    max-width: 100vw;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.html_main {
    scrollbar-color: black #e3e3e3;
    scrollbar-width: thin;
}

.p_sticky {
    position: sticky;
}

.p_relative {
    position: relative;
}

.p_absolute {
    position: absolute;
}

.z_20 {
    z-index: 20;
}

.top_100 {
    top: 0%;
}

.top_85 {
    top: -8em;
}

.top_15 {
    top: -90%;
}

.top_800 {
    top: -525px;
}

.left_25em {
    left: 45vw;
}

.p_abs {
    position: absolute;
    z-index: 15;
    top: 0%;
    left: 5%;
}

.p_abs_text {
    z-index: 15;
    left: 35%;
}

.p_rel_hider {
    z-index: 15;
    left: 0;
    bottom: 130%;
}

.p_abs_date {
    z-index: 15;
    left: 60%;
}

.overflow_hidden {
    overflow: hidden;
}


/* links */

.nav_link_color {
    color: #3d3d3d;
}

.nav_link_color:hover {
    color: black;
}

.color_black {
    color: black;
}

.d_inline {
    display: inline;
}

.d_grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.d_grid_1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.d_grid_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.d_grid_6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.d_grid_3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.d_block {
    display: block;
}

.d_none {
    display: none;
}

.flex_111 {
    flex: 1 1 auto;
}

.d_flex_row {
    display: flex;
    flex-direction: row;
}

.d_flex_row_reverse {
    display: flex;
    flex-direction: row-reverse;
}

.d_flex_column {
    display: flex;
    flex-direction: column;
}

.j_content_center {
    justify-content: center;
}

.j_content_end {
    justify-content: end;
}

.j_content_start {
    justify-content: start;
}

.j_content_space_between {
    justify-content: space-between;
}

.j_content_space_around {
    justify-content: space-around;
}

.j_content_space_evently {
    justify-content: space-evenly;
}

.flex_wrap {
    flex-wrap: wrap;
}

.flex_no_wrap {
    flex-wrap: nowrap !important;
}

.flex_grow_2 {
    flex-grow: 2;
}

.flex_grow_1 {
    flex-grow: 1;
}

.f_shrink_1 {
    flex-shrink: 1;
}

.f_shrink_2 {
    flex-shrink: 2;
}

.v_align_center {
    vertical-align: middle;
}

.v_align_super {
    vertical-align: super;
}


/* width */

.w_max_content {
    width: max-content;
}

.w_min_content {
    width: min-content;
}

.w_100 {
    width: 100%;
}

.w_75 {
    width: 85%;
}

.w_80 {
    width: 80%;
}

.w_70 {
    width: 75%;
}

.w_50 {
    width: 50%;
}

.w_40 {
    width: 40%;
}

.w_30 {
    width: 30%;
}

.w_25 {
    width: 25%;
}

.w_50_px {
    width: 50px;
}

.w_22em {
    width: 22em;
}

.w_20em {
    width: 20em;
}

.w_10em {
    width: 7em;
}

.w_95vw {
    width: 95vw;
}

.w_100vw {
    width: 100vw;
}

.third_path_w {
    min-width: calc(100%/4);
}

.w_700px {
    width: 700px;
}


/* height */

.h_auto {
    height: auto;
}

.h_max {
    height: max-content;
}

.h_35em {
    height: 35em;
}

.h_100 {
    height: 100%;
}

.h_90 {
    height: 90%;
}

.h_70 {
    height: 70%;
}

.h_7em {
    height: 7em;
}

.h_2em {
    height: 3.5em;
}

.h_24_px {
    height: 80px;
}

.h_100_px {
    height: 100px;
}

.h_150 {
    height: 250px;
}

.h_30_px {
    height: 30px;
}

.h_600 {
    height: 600px;
}

.h_500 {
    height: 500px;
}

.h_50 {
    height: 80%;
}

.h_80 {
    height: 80%;
}

.h_20 {
    height: 20%;
}

.h_30 {
    height: 30%;
}

.h_400px {
    height: 400px;
}


/* margin */

.m_0 {
    margin: 0;
}

.m_auto {
    margin: auto;
}

.m_auto_both {
    margin: 4rem auto 4rem auto;
}

.m_auto_both_1 {
    margin: 1rem auto 1rem auto;
}

.margin_1px {
    margin: 1px;
}

.margin_both_auto {
    margin: 0 auto 0 auto;
}

.margin_both_2 {
    margin: 0 2em 0 2em;
}

.margin_1_em {
    margin: 1em;
}

.mar_0_06_em {
    margin: 0 .6em;
}

.mar_06_em {
    margin: .5em;
}

.mb_1rem {
    margin-bottom: 1rem;
}

.m_bottom_5em {
    margin-bottom: 5em;
}

.mar_top_bot {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mar_top_bot_1 {
    margin-top: 1px;
    margin-bottom: 1px;
}

.mt_3em {
    margin-top: 3em;
}

.m_lr_3 {
    margin: 0 18em;
}


/* padding */

.pad_4_path {
    padding: 1em 4em;
}

.pad_top {
    padding-top: 7%;
}

.pad_top_b_2rem {
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
}

.pad_b1em {
    padding-bottom: 1em;
}

.pad_b3em {
    padding-bottom: 3em;
}

.pad_b6em {
    padding-bottom: 6em;
}

.little_pad {
    padding: 0.25em 1.5em;
}

.padding_b {
    padding-bottom: 3px;
}

.p_tb_5 {
    padding: 5px 0 5px 0;
}

.ptb_40 {
    padding-top: 40px;
    padding-bottom: 20px;
}

.p_40px {
    padding: 40px;
}

.ptb_70 {
    padding-top: 5em;
    padding-bottom: 20px;
}

.ptb_5em {
    padding-top: 5em;
    padding-bottom: 5em;
}

.ptb_1em {
    padding-top: 1em;
    padding-bottom: 1em;
}

.ptb_05em {
    padding-top: .5em;
    padding-bottom: .5em;
}

.padding_tb_15_em {
    padding-top: 10em;
    padding-bottom: 15em;
}

.p_1_px {
    padding: 1px 40px 1px 40px;
}

.p_lr_1 {
    padding: 0 3.5em 0 3.5em;
}

.p_lr_2 {
    padding: 2em 25em;
}

.p_lr_3 {
    padding: 0 18em 0 18em;
}

.pad_both_7 {
    padding: 0 7px 0 7px;
}

.pad_both_3 {
    padding: 0 3px 0 3px;
}

.p_l_2 {
    padding-left: 2em;
}

.p_l_2r {
    padding-left: 2.8em;
}

.p_l_0_5 {
    padding-left: .5em;
}

.p_l_0_3 {
    padding-left: .3em;
}

.padding_1px {
    padding: 1px;
}

.padding_3px {
    padding: 3px !important;
}

.padding_both_2em,
.padding_4path {
    padding: 0 2em 0 2em;
}

.padding_4path {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.padding_tb_2em {
    padding: 2em 0 2em 0;
}

.padding_tb_3em {
    padding: 3em 0 3em 0;
}

.pad_0 {
    padding: 0;
}

.pad_1em {
    padding: 1em;
}

.pad_51em {
    padding: 5em 1em;
}

.pad_03em {
    padding: .3em;
}

.pad_01em {
    padding: .1em;
}

.pad_lr_1e {
    padding: 0 1em;
}

.pt_10em {
    padding-top: 10em;
}


/* font */

.font_1 {
    font-size: 14px;
}

.font_2 {
    font-size: 10px;
}

.small_font {
    font-size: 0.6em;
}

.small_font_07 {
    font-size: 0.7em;
}

.f_18 {
    font-size: 18px;
}

.c_pointer {
    cursor: pointer;
}

.open_sans {
    font-family: "Open Sans", sans-serif;
}

.f_oswald {
    font-family: "Oswald", sans-serif;
}

.f_source_sans {
    font-family: 'Source Sans 3', sans-serif;
}

.f_neue {
    font-family: 'Bebas Neue', sans-serif;
}

.f_neue_plak {
    font: 15px ‘Roboto’, Arial, Helvetica, sans-serif;
}

.f_neue_plak_cond {
    font: 15px ‘Roboto’, Arial, Helvetica, sans-serif;
}

.f_family_plak_neue {
    font-family: 'Neue Plak', sans-serif;
}

.f_family_sans {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
}

.f_damage_rubik {
    font-family: 'Rubik Lines', system-ui;
}

.f_size_32 {
    font-size: 1.4em;
}

.f_size_40 {
    font-size: 2em;
}

.f_size_41 {
    font-size: 2.7em;
}

.f_size_15 {
    font-size: .9em;
}

.f_size_42 {
    font-size: 3.8em;
}

.f_size_48 {
    font-size: 4.2em;
}

.f_size_54 {
    font-size: 5em;
}

.f_size_22 {
    font-size: 1em;
}

.f_weight_400 {
    font-weight: 400;
    font-size: 1.5em;
}

.f_weight_bold {
    font-weight: 600;
}

.f_weight_bold_700 {
    font-weight: 700;
}

.f_weight_bold_800 {
    font-weight: 800;
}

.f_weight_light_300 {
    font-weight: 300;
}

.p_both_px {
    padding: 0.1em 4em 0.1em 3em;
}

.upper_case {
    text-transform: uppercase;
}

.lower_case {
    text-transform: lowercase;
}

.none_text_decor {
    text-decoration: none;
}

.hover_underline:hover {
    text-decoration: underline;
}

.offerts:hover {
    color: green;
}

.t_left {
    text-align: left;
}

.t_right {
    text-align: right;
}

.name_dep {
    font-size: 4em;
}

.t_justify {
    text-align: justify;
}

.t_center {
    text-align: center;
}

.t_center {
    text-align: center;
}

.v_align_start {
    vertical-align: top;
}

.underline_txt {
    text-decoration: underline;
}

.c_red {
    color: rgb(255, 38, 38);
}

.error,
.error_registrate {
    color: rgb(255, 38, 38);
    display: none;
}

.error_registrate {
    display: block;
}

.color_white {
    color: #f9f9f9;
}

.color_gr {
    color: #eef0f4;
}

.color_gr:hover {
    color: #fe6f5f;
}

.wh_space {
    white-space: nowrap;
}


/* backgroung */

.bg_grey_coffe {
    background-color: #ff9ac1;
}

.bg_grey_custom {
    background-color: #f3f3f3;
}

.bg_white_custom {
    background-color: #fff;
}

.bg_white_custom_hv {
    background-color: #fff;
}

.bg_white_custom_hv:hover {
    background-color: #fe6f5f;
}

.bg_white_custom_tr {
    background-color: #ffffffa5;
}

.bg_hide {
    background: linear-gradient(rgba(255, 255, 255, 0.388), rgba(255, 255, 255, 0.952), rgb(255, 255, 255));
}


/* rotate */

.rotate_something {
    transform: rotate(0.05turn);
}


/* ul */

.none_decor_ul {
    list-style: none;
    padding: 0 16.5em 0 16.5em;
}

.none_decor_ul_no_pad {
    list-style: none;
}

.horizontal_line {
    border-bottom: 2px solid gray;
}

.horizontal_line_hover {
    /* position: absolute;
    border-bottom: 2px solid gray;
    width: 0;
    transition: width .7s ease-in-out;
    &:hover {
        width: 75px;
    } */
    border-bottom: 2px solid rgb(15, 15, 15);
    width: 0;
}

.border_black {
    border-bottom: 2px solid red;
}

.border_black:hover {
    border-bottom: 2px solid black;
}


/* SPINER */

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    padding-top: 30%;
    padding-bottom: 30%;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 67px;
    height: 67px;
    margin: 8px;
    border: 8px solid #191919;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #a1a1a1 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* BORDER */

.b_red {
    border: 2px solid red;
}

.b_radius_5 {
    border-radius: 5px
}

.b_radius_3 {
    border-radius: 2px
}

.b_none {
    border: none;
}

.b_wrap {
    border: 1px solid black;
    border-radius: 4px;
}

.b_radius_10 {
    border-radius: 10px;
}

.nav_link_color {
    color: #3d3d3d;
}

.nav_link_color:hover {
    color: black;
}

.check_element {
    height: 22px;
    width: 22px;
}

.border_gray {
    border: 2px solid #e0e0e0;
}

.border_td_like {
    border: 1px solid grey;
}

.border_td_like_right {
    border-right: 1px solid grey;
}

.border_td_like_left {
    border-left: 1px solid grey;
}

.opacity_05 {
    opacity: 0;
}

.opacity_0_5 {
    opacity: 0.5;
}


/* IMAGES */

.img_on_main {
    object-fit: cover;
}

.img_on_list,
.img_on_list_work {
    width: 226px;
    height: 223px;
    object-fit: cover;
}

.img_on_list_work {
    width: 326px;
    height: 323px;
}

.img_on_list_new {
    width: 25em;
    height: 25em;
    object-fit: cover;
}

.date_color {
    color: gray;
}

.date_color:hover {
    color: black;
}

.go_to_buy {
    color: #3d3d3d;
    transition: 0.3s all ease;
}

.go_to_buy:hover {
    font-weight: 600;
    /* transition: .7s all ease; */
}

.btn_black {
    background-color: #212121;
    color: #ffffff;
}

.c_like_footer {
    color: #212121;
}

.nowrap_space {
    white-space: nowrap;
}

.scale_hover {
    transition: all 0.3s ease-out;
}

.scale_hover:hover {
    transform: scale(1.05);
    box-shadow: 0px -5px 15px rgb(165, 165, 165);
}

.scale_pressure_both {
    transform: scale(.7, 1.5);
}


/* INPUTS FIELDS */

.sibscribe_input {
    outline: none;
    color: black;
}


/* MIN WIDTH HEIGHT LOW */

@media screen and (max-width: 1260px) {
    .direction_low_1000 {
        flex-direction: column !important;
    }
    .w_low {
        width: 100% !important;
    }
    .w_low_25 {
        width: 25em !important;
    }
    .d_flex_for_mob {
        display: flex;
        flex-direction: row;
    }
    .j_content_mobile_center {
        justify-content: center !important;
    }
    .p_low_1000 {
        padding: 20px;
    }
    .p_low_100_5 {
        padding: 0 5px;
    }
}

@media screen and (max-width: 1000px) {
    .f_low_1000 {
        font-size: 1.7em !important;
    }
    .txt_pos_low_1000 {
        text-align: center;
    }
    .f_size_low_1000 {
        font-size: 14px !important;
    }
    .f_size_low_1000_2 {
        font-size: 0.7em !important;
    }
    .f_size_header_low_1000 {
        font-size: 1.5em !important;
    }
    .justify_low_1000 {
        justify-content: center;
    }
    .w_input_low_1000 {
        width: 80%;
    }
    .img_modal_low_1000 {
        height: 80vh;
    }
    .direction_low_1000 {
        flex-direction: column !important;
    }
    .j_content_center_low_1000 {
        justify-content: center !important;
    }
    .direction_low_1000_row {
        flex-direction: row !important;
    }
    .t_justify_low_1000 {
        text-align: justify !important;
    }
    .p_low_1000 {
        padding: 20px;
    }
    .w_low_1000 {
        width: 100% !important;
    }
}

@media screen and (max-width: 700px) {
    .img_modal_low_1000 {
        height: 70vh;
    }
    .mob_font {
        font-size: 1.1em !important;
    }
}

@media screen and (max-width: 550px) {
    .flex_low_500 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .flex_low_500_c {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .p_1_px_low_700 {
        padding: 1px 15px;
    }
    .w_90vw {
        width: 90vw !important;
    }
    .img_modal_low_1000 {
        height: 55vh;
    }
}

@media screen and (max-width: 450px) {
    .img_modal_low_1000 {
        height: 45vh;
    }
}

@media screen and (max-width: 350px) {
    .img_modal_low_1000 {
        height: 40vh;
    }
}

@media screen and (max-height: 700px) {
    #drop {
        padding: 50px 0 !important;
    }
    .dropdown_li,
    .li_team {
        font-size: .7em;
        font-weight: 600;
    }
}